{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "style.css" %}">
  </head>
  <body>
    <a href="{% url 'create_post' %}">Create new post</a> | <a href="{% url 'home' %}">Home</a>

    {% if user.is_authenticated %}
      <p>Welcome, {{user.username}}</p> (<a href="{% url 'logout' %}">Logout</a>)

    {% else %}
      <p>You are not loged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}


    {% block content_block %}

    {% endblock %}
  </body>
</html>
